<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386761444642-lgdfq04skiftrji4t709i4e9sihk99o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386761444642-lgdfq04skiftrji4t709i4e9sihk99o6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>386761444642-fk2t5d527adrisknrmketqdmud5lppaq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIiM_-Zp9yODYUPDjXP-qUqMd8XUOm8mw</string>
	<key>GCM_SENDER_ID</key>
	<string>386761444642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.garantixFlutter</string>
	<key>PROJECT_ID</key>
	<string>garantix-49e1e</string>
	<key>STORAGE_BUCKET</key>
	<string>garantix-49e1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386761444642:ios:c0dc1e14354f1b5db1a97b</string>
	<key>DATABASE_URL</key>
	<string>https://garantix-49e1e.firebaseio.com</string>
</dict>
</plist>